BoxingDemo/xml-resources/web-service-references/BoxingService/wsdl/localhost_8080/Boxing/BoxingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://boxingcompetition/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://boxingcompetition/" name="BoxingService">
<types>
<xsd:schema>
<xsd:import namespace="http://boxingcompetition/" schemaLocation="http://localhost:8080/Boxing/BoxingService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetFighterById">
<part name="parameters" element="tns:GetFighterById"/>
</message>
<message name="GetFighterByIdResponse">
<part name="parameters" element="tns:GetFighterByIdResponse"/>
</message>
<message name="AddCompetition">
<part name="parameters" element="tns:AddCompetition"/>
</message>
<message name="AddCompetitionResponse">
<part name="parameters" element="tns:AddCompetitionResponse"/>
</message>
<message name="GetFighterList">
<part name="parameters" element="tns:GetFighterList"/>
</message>
<message name="GetFighterListResponse">
<part name="parameters" element="tns:GetFighterListResponse"/>
</message>
<message name="GetCompetition">
<part name="parameters" element="tns:GetCompetition"/>
</message>
<message name="GetCompetitionResponse">
<part name="parameters" element="tns:GetCompetitionResponse"/>
</message>
<message name="GetFighters">
<part name="parameters" element="tns:GetFighters"/>
</message>
<message name="GetFightersResponse">
<part name="parameters" element="tns:GetFightersResponse"/>
</message>
<message name="AddFighter">
<part name="parameters" element="tns:AddFighter"/>
</message>
<message name="AddFighterResponse">
<part name="parameters" element="tns:AddFighterResponse"/>
</message>
<message name="AddCompetitionFighter">
<part name="parameters" element="tns:AddCompetitionFighter"/>
</message>
<message name="AddCompetitionFighterResponse">
<part name="parameters" element="tns:AddCompetitionFighterResponse"/>
</message>
<message name="GetCompetitionList">
<part name="parameters" element="tns:GetCompetitionList"/>
</message>
<message name="GetCompetitionListResponse">
<part name="parameters" element="tns:GetCompetitionListResponse"/>
</message>
<message name="GetCompetitionFighters">
<part name="parameters" element="tns:GetCompetitionFighters"/>
</message>
<message name="GetCompetitionFightersResponse">
<part name="parameters" element="tns:GetCompetitionFightersResponse"/>
</message>
<portType name="SOAPService">
<operation name="GetFighterById">
<input wsam:Action="http://boxingcompetition/SOAPService/GetFighterByIdRequest" message="tns:GetFighterById"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetFighterByIdResponse" message="tns:GetFighterByIdResponse"/>
</operation>
<operation name="AddCompetition">
<input wsam:Action="http://boxingcompetition/SOAPService/AddCompetitionRequest" message="tns:AddCompetition"/>
<output wsam:Action="http://boxingcompetition/SOAPService/AddCompetitionResponse" message="tns:AddCompetitionResponse"/>
</operation>
<operation name="GetFighterList">
<input wsam:Action="http://boxingcompetition/SOAPService/GetFighterListRequest" message="tns:GetFighterList"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetFighterListResponse" message="tns:GetFighterListResponse"/>
</operation>
<operation name="GetCompetition">
<input wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionRequest" message="tns:GetCompetition"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionResponse" message="tns:GetCompetitionResponse"/>
</operation>
<operation name="GetFighters">
<input wsam:Action="http://boxingcompetition/SOAPService/GetFightersRequest" message="tns:GetFighters"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetFightersResponse" message="tns:GetFightersResponse"/>
</operation>
<operation name="AddFighter">
<input wsam:Action="http://boxingcompetition/SOAPService/AddFighterRequest" message="tns:AddFighter"/>
<output wsam:Action="http://boxingcompetition/SOAPService/AddFighterResponse" message="tns:AddFighterResponse"/>
</operation>
<operation name="AddCompetitionFighter">
<input wsam:Action="http://boxingcompetition/SOAPService/AddCompetitionFighterRequest" message="tns:AddCompetitionFighter"/>
<output wsam:Action="http://boxingcompetition/SOAPService/AddCompetitionFighterResponse" message="tns:AddCompetitionFighterResponse"/>
</operation>
<operation name="GetCompetitionList">
<input wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionListRequest" message="tns:GetCompetitionList"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionListResponse" message="tns:GetCompetitionListResponse"/>
</operation>
<operation name="GetCompetitionFighters">
<input wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionFightersRequest" message="tns:GetCompetitionFighters"/>
<output wsam:Action="http://boxingcompetition/SOAPService/GetCompetitionFightersResponse" message="tns:GetCompetitionFightersResponse"/>
</operation>
</portType>
<binding name="SOAPServicePortBinding" type="tns:SOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetFighterById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddCompetition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFighterList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompetition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFighters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddFighter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddCompetitionFighter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompetitionList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompetitionFighters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BoxingService">
<port name="SOAPServicePort" binding="tns:SOAPServicePortBinding">
<soap:address location="http://localhost:8080/Boxing/BoxingService"/>
</port>
</service>
</definitions>